.contact {
  text-align: center;
}

.contact-box {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-box a {
  color: #00ffff;
  text-decoration: none;
  font-weight: 500;
}

.contact-box a:hover {
  text-decoration: underline;
}
