.project-card {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-bottom: 100px;
}

.project-card.reverse {
  flex-direction: row-reverse;
}

.project-card img {
  width: 420px;
  height: 260px;
  object-fit: cover;
  border-radius: 16px;
  border: 1px solid #222;
}

.project-content h3 {
  font-size: 32px;
}

.project-content span {
  font-size: 13px;
  color: #666;
}

.project-content p {
  margin: 20px 0;
  color: #aaa;
  line-height: 1.7;
}

.project-content button {
  padding: 12px 26px;
  border: none;
  background: #00e5ff;
  font-weight: bold;
  cursor: pointer;
}
