body {
  margin: 0;
  background: #0b0b0b;
  color: white;
  font-family: "Inter", sans-serif;
}

.section {
  min-height: 100vh;
  padding: 120px;
  padding-left: 160px; /* space for sidebar */
}


.hero h1 {
  font-size: 80px;
  line-height: 1;
}

.hero p {
  letter-spacing: 6px;
  color: #777;
  margin-top: 20px;
}

.section-title {
  font-size: 48px;
  margin-bottom: 60px;
}

.cyan-text {
  color: #00e5ff;
}
